@{
    ViewBag.Title = "Index";
}
<head>
    <title>Home Page</title>
    <script type="text/javascript">
        window.onload = function () {
            window.displayImgCount = 0;
            function cycleImage() {
                if (displayImgCount !== 0) {
                    document.getElementById("main" + displayImgCount).style.display = "none";
                }
                displayImgCount = displayImgCount === 3 ? 1 : displayImgCount + 1;
                document.getElementById("main" + displayImgCount).style.display = "block";
                setTimeout(cycleImage, 1000 * 5);
            }
            cycleImage();
        }
    </script>
</head>
<div class="container">
    
    <div class="jumbotron" style="margin-top: 10em">
        <div class="container">
            <img class="img-responsive img-circle pull-right" id="main1" src="~/Images/siteimg/main1.jpg" style="display: none;margin-top: 2em;margin-right: -3em" alt="" width="350em" height="225em"/>
            <img class="img-responsive img-circle pull-right" id="main2" src="~/Images/siteimg/main2.jpg" style="display: none;margin-top: 2em;margin-right: -3em" alt="" width="350em" height="225em"/>
            <img class="img-responsive img-circle pull-right" id="main3" src="~/Images/siteimg/main3.jpg" style="display: none;margin-top: 2em;margin-right: -3em" alt="" width="350em" height="225em"/>
           
            <h1 style="text-align: center">Wkkitchen  !</h1>
            <p>
               kitchen is like cooking - and mostly for pleasure! Lunch agreed to be a hungry man will do the shopping and in no time are the most diverse dishes on the table. Main thing is varied and delicious. In the gallery you will find our favorite recipes lately.
            </p>
           <p>
                @Html.ActionLink("see more...", "Index", "Recipe",new {@class="btn btn-primary btn-lg active"} )
            </p>
        </div>
    </div>
</div>